<phpunit backupStaticAttributes="false" cacheTokens="false"
         colors="false" convertErrorsToExceptions="true"
         convertNoticesToExceptions="true" convertWarningsToExceptions="true"
         forceCoversAnnotation="false" mapTestClassNameToCoveredClassName="false"
         printerClass="PHPUnit_TextUI_ResultPrinter" processIsolation="false"
         stopOnError="false" stopOnFailure="false" stopOnIncomplete="false"
         stopOnSkipped="false" strict="false" verbose="true">
    <testsuites>
        <testsuite name="LMMVC Test Suite">
            <directory>./LmMvcTests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>../LmMvc</directory>
            <!--<exclude>
                <directory>../LmMvc/Exception</directory>
            </exclude>-->
        </whitelist>
    </filter>
</phpunit>